.game h1 {
  font-size: 2.5em;
}

.points span {
  font-weight: bold;
}

.tip span {
  color: #100739;
}

.letter,
.blankSquare {
  font-size: 70px;
  line-height: 1.5;
  border: 3px solid #000;
  height: 100px;
  width: 100px;
  text-transform: uppercase;
  background-color: #fff;
  color: #000;
  font-weight: bold;
}

.letterContainer p {
  margin-bottom: 1.2em;
}

.letterContainer form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.letterContainer input {
  height: 50px;
  width: 50px;
  font-size: 2em;
  text-align: center;
}


.wordContainer {
  margin: 1.5em auto;
  padding: 1.5em;
  border: 20px solid #100739;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.letter,
.blankSquare {
  font-size: 40px;
  line-height: 1.5;
  border: 3px solid #000;
  height: 64px;
  width: 64px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  box-sizing: border-box;
}

.blankSquare {
  background-color: #fff;
}

.letterContainer form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 12px;
}

.letterContainer input {
  height: 50px;
  width: 50px;
  font-size: 2em;
  text-align: center;
  margin-right: 1em;
}

.keyboard {
  margin-top: 12px;
}
